---
layout: page
title: Tags
permalink: /tags/
---

<ul class="tags">
 {% for tag in site.tags %}
   <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
   <a href="#{{ tag | first | slugize }}">
            {{ tag | first }}
   </a>
   </li>
 {% endfor %}
</ul>

<div class="posts-list">
{% for tag in site.tags %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  <h4 id="#{{ tag_name | slugize }}">{{ tag_name }}</h4>
  <a class="post" name="{{ tag_name | slugize }}"></a>
  {% for post in site.tags[tag_name] %}
  <article>
    <h2><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h2>
  </article>
  {% endfor %}
{% endfor %}
</div>
